.container {
    display: grid;
    grid-template-columns: repeat(4, 120px [col-start]);
    /* grid-template-rows: repeat(2, 50px [row-start]); */
    column-gap: 30px;
    /* row-gap: 20px; */
    padding: 30px 30px 20px;
    /* width: 300px;
    margin: 0 auto; */
    justify-content: center;
  }
  
  .container-btn {
    width: 120px;
  }
  
  .container-btn--selected {
      background-color: white !important;
      color: #1976d2 !important;
  }