body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiButton-root {
  margin-right: 10px;
  background-color: rgb(35, 116, 187);
  border-color: rgb(35, 116, 187);
}

.MuiButton-root:hover {
  color: rgb(35, 116, 187);
  background-color: white;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
