
.form-cntr {
    border: 1px solid gray;
    margin: 0 60px;
    padding: 20px;
  }

.output-form-cntr {
    border: 1px solid gray;
    margin-top: 30px;
    padding: 20px;
}

.form-cntr__textField {
    margin-right: 20px !important;
}

.form-cntr__btn-cntr {
    margin-top: 20px;
}

.form-cntr__switch-cntr {
    margin-right: 20px !important;
    margin-bottom: 30px !important;
}

.form-cntr__switch {
    margin: 0px 10px !important;
}

.form-cntr__switchBlk {
    margin: 20px 10px;
    height: 60px;
    display: flex;
}

.form-cntr__uploadBtn {
    margin-left: 10px !important;
}

.form-cntr__textField--w50 {
    width: 45% !important;
}


.form-cntr__textField--w100 {
    width: 68% !important;
    margin-left: 20px !important;
}

.switch-cntr {
    padding-top: 10px;
}